#Spring
target/
.settings/
*/.metadata/
*/Servers/
*/tutorial/src/main/resources/config/
spring2/tutorial/src/main/resources/upload_images/
JSP_Ajax/.metadata/
JSP_Ajax/Servers/
#Compiled class file
*.class

#Log file
*.log

#BlueJ files
*.ctxt