#Spring
target/
.settings/
*/.metadata/
*/Servers/
*/tutorial/src/main/resources/config/
spring2/tutorial/src/main/resources/upload_images/
JSP_Ajax/.metadata/
JSP_Ajax/Servers/
#Compiled class file
*.class

#Log file
*.log

#BlueJ files
*.ctxt

#OAuth2
OAuth2/.metadata/
OAuth2/Servers/
OAuth2/study-oauth2/.settings/
OAuth2/study-oauth2/target/
OAuth2/study-oauth2/.springBeans
OAuth2/study-oauth2/.project
OAuth2/study-oauth2/.classpath
OAuth2/study-oauth2/src/main/webapp/config/