<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd"> 

<configuration> 
	<!-- VO(=DTO) 객체 등록 -->
	<typeAliases>
		<typeAlias alias="MembersVO" type="com.tutorial.spring.dto.MembersVO"></typeAlias>
		<typeAlias alias="ProductVO" type="com.tutorial.spring.dto.ProductVO"></typeAlias>	
		<typeAlias alias="CategoryVO" type="com.tutorial.spring.dto.CategoryVO"></typeAlias>
		<typeAlias alias="ImageVO" type="com.tutorial.spring.dto.ImageVO"></typeAlias>
	</typeAliases>
</configuration>